.tabelas-customizadas th, .tabelas-customizadas td{
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    font-weight: bold;
    font-style: normal;
   
  }
  .tabelas-customizadas tr{
      width: 100%;
  }
  .tabelas-customizadas select,  .tabelas-customizadas label{
    font-size: 15px;
  }
  .fundo-botoes {
    background-color: #DCDCDC;
  }
  
  .fundo-cabecalho{
    
    background-color:#009688;
    
  }

  .fundo-cabecalho h1{
  
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-justify: auto;
    color: #FFFFFF;
    font-size: 50px;
  
  }
  
  .fundo-cabecalho h3{
  
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-justify: auto;
    color: #FFFFFF;
  
  }
  /* ini: Preloader */
   
  #preloader {
      position:fixed;
      top:0;
      left:0;
      right:0;
      bottom:0;
      background-color:#ffffff; /* cor do background que vai ocupar o body */
      z-index:999; /* z-index para jogar para frente e sobrepor tudo */
  }
  #preloader .inner {
      position: absolute;
      top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
      left: 50%;
      transform: translate(-50%, -50%);  
  }
  
  /* end: Preloader */