.tabelas-customizadas{
  

  }
  
  .tabelas-customizadas th, .tabelas-customizadas td{
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
   
  
  }
  .tabelas-customizadas tr{
      width: 100%;
  }
  .tabelas-customizadas select,  .tabelas-customizadas label{
    font-size: 15px;
  }
  
  .fundo-cabecalho{
    
    background-color:#009688;
    
  }
  .fundo-cabecalho h1{
  
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-justify: auto;
    color: #FFFFFF;
  
  }
  
  .fundo-cabecalho h3{
  
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-justify: auto;
    color: #FFFFFF;
  
  }
  .texto-de-advertencia{
  
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-justify: auto;
    background-color:#f59e00;
    border-radius: 5px;
    font-size: 14px;
  
  }
  .texto-de-alerta {
  
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-justify: auto;
    background-color:rgba(220, 53, 69, 0.9);
    border-radius: 5px;
    font-size: 14px;
  
  }
